.menu-algo {
    text-decoration: none !important;
    width: 100% !important;
    color: rgb(24, 6, 91);
    padding: 5px, 16px !important;
    // font-size: small;
}
.menu-item {
    padding: 0 !important;
}

@media only screen and (max-width: 500px) {
    .menu-algo {
        font-size: smaller;
    }
}