.bar {
    width: 20px;
    height: 99%;
    margin: auto;
    display: inline-block;
    position: relative;
    // border-style: solid;
    // background-color: rgb(210, 233, 240);
}

.bar2 {
    width: 100%;
    bottom: 0;
    position: absolute;
}