.bar-container {
    // width: 10px;
    height: 99%;
    margin: auto;
    display: inline-block;
    position: relative;
    // border-style: solid;
    // background-color: rgb(210, 233, 240);
}

.bar {
    width: 60%;
    bottom: 0;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    bottom: -2px;
}

@media only screen and (max-width: 1000px) {
    .bar {
      width: 30%;
      border-width: 2px;
    }
}

@media only screen and (max-width: 420px) {
    .bar {
      width: 10%;
      border-width: 2px;
    }
}
